@model IEnumerable<SpeedyTurtle.Models.ViewModels.AgentBidViewModel>

@{
    ViewBag.Title = "PendingBids";
}

<h2>PendingBids</h2>

<table>
    <tr>
        <th>
            Task
        </th>
        <th>
            Submitted
        </th>
        <th>
            Amount
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Submitted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
